<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="5.0.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Acr.XamForms.UserDialogs" version="5.0.0" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="BreweryDB" version="1.1.5" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Hyak.Common" version="1.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Azure.Common" version="2.1.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Azure.Common.Dependencies" version="1.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Azure.Mobile.Client" version="2.1.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Microsoft.Azure.Search" version="1.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Rest.ClientRuntime" version="1.8.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="2.5.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Plugin.Share" version="4.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Refractored.MvvmHelpers" version="1.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="2.1.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.DeviceInfo" version="2.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="portable-net45+win+wpa81+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
</packages>