@model BeerDrinkin.Web.DataObjects.AddressItem

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>AddressItem</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="County" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="County" class="form-control" />
                <span asp-validation-for="County" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Latitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Longtitude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Longtitude" class="form-control" />
                <span asp-validation-for="Longtitude" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NumberOrName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NumberOrName" class="form-control" />
                <span asp-validation-for="NumberOrName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostCode" class="form-control" />
                <span asp-validation-for="PostCode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StreetName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Town" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Town" class="form-control" />
                <span asp-validation-for="Town" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
