@{
    ViewData["Title"] = "About";


    <div id="features" class="padding">
        <div class="container">
            <div class="row">
                <div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                    <img class="img-responsive" src="/images/Xamarin.png" alt="" />
                    <h1>Built with Xamarin</h1>
                </div>
            </div>
            <div class="all-features text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <img class="img-responsive" src="/images/XamarinPlatform.png" alt="" />
                            <p>We've used Xamarin.iOS, Xamarin.Android and Xamarin.Mac to bring Beer Drinkin to your favourite platforms. We've shared upto 75% of the code we wrote accross all our supported platforms.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
                            <img class="img-responsive" src="/images/XamarinInsights.png" alt="" />
                            <p>Insights let us know immediately when a user experiances a crash. We also log information about user sessions in order to create strong UI Tests. Insights allows us the ability to deliver a 5 star experiance.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.4s">
                            <img class="img-responsive" src="/images/XamarinTestCloud.png" alt="" />
                            <p>We use Test Cloud to auotmate our UI Testing and have it configured with our CI system. This allows Test Cloud to run on 2000 physical devices every day. We get a daily report on whats broken so we can always release great looking and performaing apps.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.1s">
                    <img href="https://github.com/MikeCodesDotNet/BeerDrinkin" class="img-responsive githubImage" src="/images/github-logo.png" alt="" />
                    <a href="https://github.com/MikeCodesDotNet/BeerDrinkin"><h6>Naturally its open source</h6></a>
                    <img class="img-responsive" src="https://www.bitrise.io/app/7f04749bb7349e62.svg?token=rtX98mobBuH6nkxy1k8l2w&branch=master" alt="" />
                </div>
            </div>
        </div>
    </div><!--/#features-->

    <div id="whats-special" class="padding image-bg flat">
        <div class="overlay-bg"></div>
        <div class="container">
            <div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                <img class="img-responsive" src="/images/azure-white.png" alt="" />
            </div>
            <div class="all-features text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.2s">
                            <img class="img-responsive" src="/images/Azure-AppService.png" alt="" />
                            <h3>Azure App Service</h3>
                            <p>Azure App Service manages the entire backend infrastucture of Beer Drinkin. It runs this website, the managment of the database and syncing data between devices.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
                            <img class="img-responsive" src="/images/azuresearch.png" alt="" />
                            <h3>Azure Search</h3>
                            <p>The power of Beer Drinkin is attributed to the wonder of Azure search. It allows us to deliver the best search experiance.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.4s">
                            <img class="img-responsive" src="/images/machinelearning.png" alt="" />
                            <h3>Azure Machine Learning</h3>
                            <p>The crowning jewl for beer lovers everywhere. Beer Drinkin makes use of Azure Machine Learning to make predictions about the beers you're going to love.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#whats-special-->


    <div id="compatibility" class="padding">
        <div class="container">
            <div class="section-title text-center wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
                <img class="img-responsive" src="/images/icons/t2.png" alt="" />
                <h1>Developed by</h1>
            </div>
            <div class="col-sm-6 left-side">
                <div class="compatibility">
                    <div class="os text-right wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <h2>Mike James</h2>
                        <p>Before joining Xamarin, Mike worked in the entertainment control industry, developing systems for numerous installations, including the London Eye. His passion for mobile development began when he built apps to empower site engineers control installations’ lighting.</p>
                        <p>As a Xamarin Developer Evangelist, Mike engages with the Xamarin community throughout Europe, and greatly enjoys any opportunity to meet customers face-to-face, presenting new technologies to help them build their mobile strategy.</p>
                    </div>
                    <div class="os-image wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <img class="img-responsive" src="/images/mockup/os2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 right-side">
                <div class="compatibility">
                    <div class="os-image wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <img class="img-responsive" src="/images/mockup/os1.png" alt="">
                    </div>
                    <div class="os text-left wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <h2>Pavlina Pavlova</h2>
                        <p>Build for iOS 9 or above, Beer Drinkin makes use of brand new features exclusive to iOS such as integrated search, Apple Pay and offline support.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/#compatibility-->

    <div id="call-to-action" class="padding image-bg flat">
        <div class="overlay-bg"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow slideInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
                    <img class="img-responsive breweryDbImage" src="/images/breweryDbBadge.png" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="action-content wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <h1>Powered by BreweryDB</h1>
                        <h2>A better way to discover craft beer</h2>
                        <p>'BreweryDB is your database of breweries, beers, beer events and guilds! Our service is just about the facts. All of our data is curated by our administrators, so you can be sure that the information you get is timely and accurate. We are proud to be a small part of the Craft Beer revolution'</p>
                        <a class="btn btn-purple" href="https://github.com/MikeCodesDotNet/BreweryDB">BreweryDB .NET SDK</a>
                        <a class="btn btn-green" href="http://www.brewerydb.com/">Learn More</a>
                        <img class="img-responsive bitriseBreweryDb" src="https://www.bitrise.io/app/3735847bfb75f667.svg?token=A_GJ04CSfVtaF_2D7kMzRg&branch=master" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div><!--/call-to-action-->

}
