@{
    ViewData["Title"] = "Contact";
}
<div id="contact" class="padding">
    <div class="container text-center">
        <div class=" section-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
            <img class="img-responsive" src="/images/icons/t10.png" alt="" />
            <h1>Send us a Message</h1>
        </div>
        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="#">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
                        <input type="text" class="form-control" required="required" placeholder="Your Name">
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.4s">
                        <input type="email" class="form-control" required="required" placeholder="Your Email">
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.5s">
                        <input type="text" class="form-control" required="required" placeholder="Subject">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.6s">
                        <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Enter Message Here"></textarea>
                    </div>
                </div>
                <div class="form-group wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">
                    <button type="submit" class="btn btn-primary btn-animated ">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div><!--/contact-->
<hr/>