@{
    ViewData["Title"] = "Home Page";

    <div id="home-section" class="image-bg" src="images/header.png" alt="">
        <div class="container">
            <div class="home-content padding">
                <img class="img-responsive" src="images/slider-logo.png" alt="" />
                <h2>Find your new favourites.</h2>
                <div class="button">
                    <a href="#" class="btn btn-primary btn-animated">Download Now</a>
                </div>
                <div class="app-icons text-center">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-desktop"></i></a></li>
                        <li><a href="#"><i class="fa fa-apple"></i></a></li>
                        <li><a href="#"><i class="fa fa-windows"></i></a></li>
                        <li><a href="#"><i class="fa fa-android"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/#home-section-->

    <div id="whats-special" class="padding image-bg flat">
        <div class="overlay-bg"></div>
        <div class="container">
            <div class="text-center section-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.10s">
                <img class="img-responsive" src="images/icons/t1.png" alt="" />
                <h1>What’s Special</h1>
            </div>
            <div class="special-features">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="special-content text-right wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
                            <h2>Cross Platform</h2>
                            <p>Run Beer Drinkin on iOS, Android and Windows Phone. Everything will be synced for you using the cloud. </p>
                        </div>
                        <div class="special-content text-right wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            <h2>Top Technology</h2>
                            <p>Built using the Xamarin platform and Microsoft Azure, Beer Drinkin uses the latest technologies.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="special-image wow slideInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">
                            <img class="img-responsive" src="images/mockup/special.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="special-content text-left wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.3s">
                            <h2>Social by design</h2>
                            <p>Rate and share your opinion of beers with friends and colleagues. Beer Drinkin is built from the start with social in mind.</p>
                        </div>
                        <div class="special-content text-left wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            <h2>Smarter than you might think</h2>
                            <p>Beer Drinkin uses Machine learning to predict your next favourite beer. Every day our predictions get better. </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!--/#whats-special-->

    <div id="screenshots" class="padding">
        <div class="container">
            <div class="text-center section-title  wow fadeInDown" data-wow-duration="0.5s" data-wow-delay="0.1s">
                <img class="img-responsive" src="images/icons/t5.png" alt="" />
                <h1>Screenshot Gallery</h1>
            </div>
            <div id="screenshot-slider">
                <div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                    <a class="image-link" href="images/mockup/screen1.png"><img class="img-responsive" src="images/mockup/screen1.png" alt=""></a>
                </div>
                <div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
                    <a class="image-link" href="images/mockup/screen2.png"><img class="img-responsive" src="images/mockup/screen2.png" alt=""></a>
                </div>
                <div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <a class="image-link" href="images/mockup/screen3.png"><img class="img-responsive" src="images/mockup/screen3.png" alt=""></a>
                </div>
                <div class="screenshot wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <a class="image-link" href="images/mockup/screen4.png"><img class="img-responsive" src="images/mockup/screen4.png" alt=""></a>
                </div>

            </div>
        </div>
    </div><!--/screenshots-->

    <div id="download-apps" class="padding image-bg flat">
        <div class="overlay-bg"></div>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="download-apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.4s">
                        <h1>Download coming soon</h1>
                        <p>We're working really hard to get this shipped, we promise it wont be long!</p>
                        <div class="apps wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            <ul class="list-inline">
                                <li><a href="#"><i class="fa fa-apple"></i></a></li>
                                <li><a href="#"><i class="fa fa-windows"></i></a></li>
                                <li><a href="#"><i class="fa fa-android"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/download-apps-->
}

    