@model BeerDrinkin.Web.DataObjects.BeerItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>BeerItem</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Abv" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Abv" class="form-control" />
                <span asp-validation-for="Abv" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Brewery" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Brewery" class="form-control" />
                <span asp-validation-for="Brewery" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BreweryDbId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BreweryDbId" class="form-control" />
                <span asp-validation-for="BreweryDbId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BreweryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BreweryId" class="form-control" />
                <span asp-validation-for="BreweryId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageLarge" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImageLarge" class="form-control" />
                <span asp-validation-for="ImageLarge" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageMedium" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImageMedium" class="form-control" />
                <span asp-validation-for="ImageMedium" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImageSmall" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImageSmall" class="form-control" />
                <span asp-validation-for="ImageSmall" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RateBeerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RateBeerId" class="form-control" />
                <span asp-validation-for="RateBeerId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StyleId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StyleId" class="form-control" />
                <span asp-validation-for="StyleId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Upc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Upc" class="form-control" />
                <span asp-validation-for="Upc" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
