<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
  <connectionStrings>
    <add name="MS_TableConnectionString" connectionString="Data Source=beerdrinkinserver.database.windows.net;Initial Catalog=beerdrinkindatabase;Integrated Security=False;User ID=beerdrinkin;Password=PuipGNaX2QMW3RfGtACwmbshXwfZdVUzpUQZKKryneojKZfVYm;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
